
<div class="row justify-content-between"  >
    <div class="col-6" >
        <img src ="assets/img/home-final.png"    width=" 700" height="500">
    </div>
    <div class="col-6" >
       
        
        <h1 class = "text1"> A Bibliophile’s Heaven</h1>
         <p class = "text2" >Love the feel of the pages on your fingertips.....
             They are light enough to carry, yet so heavy with words and ideas.....
             Love the sound of the pages flicking against your fingers.....
             Print against fingerprints..... Books make people quiet, yet they are so loud. </p>
             
    </div>
  </div>
