<div class="container">
    
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="assets/img/genre_books.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Books</h5>
              <p class="card-text">Love the feel of the pages on your fingertips. They are light enough to carry,
                 yet so heavy with worlds and ideas. Love the sound of the pages flicking against your fingers.
                 Print against fingerprints. Books make people quiet, yet they are so loud.</p>
              <a href="#" class="btn btn-primary">Read</a>
              <a href="#" class="btn btn-danger">Delete</a>
            </div>
          </div>
      </div>
      
      </div>
  
