

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: white">
    <div class="container-fluid">    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="navbar-brand mb-0 h1" href="#">
                <img src="assets/img/light blue-book.jpg" alt=""  width="80" height="80" class="d-inline-block align-text-center">
                BookApp
              </a>
            <ul class="navbar-nav mr-auto" id = "textcolor">
                
                <li class="nav-item active">
                    <a class="nav-link"  routerLink="/home">
                        <img src="/assets/img/home.svg" width="30" height="30"> Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/authors">
                        <img src="/assets/img/pen-solid.svg" alt="Bootstrap" width="30" height="30"> Authors
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/genre" >
                        <img src="/assets/img/book-solid.svg" alt="Bootstrap" width="30" height="30"> Genre
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img src="/assets/img/heart-regular.svg" alt="Bootstrap" width="30" height="30"> Favourites
                    </a>
                </li>     
            </ul>          
                
            <form class="d-flex">
                 <img src="/assets/img/search-solid.svg" alt="Bootstrap" width="30" height="30"> &nbsp; 
                 <input class="form-control me-2" type="search"  aria-label="Search">
                 <button class="btn btn-" type="submit">Search</button>
            </form>    
            
        </div>
    </div>
  </nav>

  
  
