<nav>
    <div class="logo"> Book App </div>
    <ul>
        <li>  <a   routerLink="/home">
            <img src="assets/img/home_white_24dp.svg" width="30" height="30" > Home
        </a>
        </li>
            <li><a routerLink="/genre"> 
                <img src="assets/img/category_white_24dp.svg" width="30" height="30" >genre </a></li>
                <li><a routerLink="/favourites">
                    <img src="assets/img/favorite_white_24dp.svg" width="30" height="30" > favourites</a> </li>
                    <li><a routerLink="/addbook">
                        <img src="assets/img/add_white_24dp.svg" width="30" height="30" > Add book</a> </li>
    </ul>

</nav>



